
.btn {
    padding: 10px 15px;
    background-color: #DF2D2B;
    border-radius: 5px;
    text-decoration: none;
    text-decoration-style: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.btn-2 {
    width: 62px;
    padding: 10px 40px;
    background-color: #DF2D2B;
    border-radius: 5px;
    text-decoration: none;
    text-decoration-style: none;
}